[submodule ".local/bin"]
	path = .local/bin
	url = https://git.odrling.xyz/odrling/localbins.git
	ignore = dirty
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/omz/oh-my-zsh"]
	path = .zsh/omz/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".zsh/zsh-background-notify"]
	path = .zsh/zsh-background-notify
	url = https://github.com/t413/zsh-background-notify.git
[submodule ".vim/vim-fugitive"]
	path = .vim/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-polyglot"]
	path = .local/share/nvim/site/pack/vim-polyglot/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".config/fish/modules/fish-ssh-agent"]
	path = .config/fish/modules/fish-ssh-agent
	url = https://github.com/danhper/fish-ssh-agent.git
[submodule ".vim/bundle/fzf"]
	path = .vim/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/vidir"]
	path = .vim/vidir
	url = https://github.com/trapd00r/vidir.git
[submodule ".vim/bundle/delimitMate"]
	path = .local/share/nvim/site/pack/delimitMate/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
	ignore = dirty
[submodule ".vim/bundle/vim-commentary"]
	path = .local/share/nvim/site/pack/vim-commentary/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-surround"]
	path = .local/share/nvim/site/pack/vim-surround/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-repeat"]
	path = .local/share/nvim/site/pack/vim-repeat/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-dirvish"]
	path = .local/share/nvim/site/pack/vim-dirvish/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule ".vim/bundle/vim-eunuch"]
	path = .local/share/nvim/site/pack/vim-eunuch/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .local/share/nvim/site/pack/vim-unimpaired/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/coc.nvim"]
	path = .local/share/nvim/site/pack/coc.nvim/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule ".vim/bundle/eleline.vim"]
	path = .local/share/nvim/site/pack/eleline.vim/start/eleline.vim
	url = https://github.com/liuchengxu/eleline.vim.git
[submodule ".zsh/zsh-autoenv"]
	path = .zsh/zsh-autoenv
	url = https://github.com/Tarrasch/zsh-autoenv.git
[submodule ".zsh/zsh-nix-shell"]
	path = .zsh/zsh-nix-shell
	url = https://github.com/chisui/zsh-nix-shell.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .local/share/nvim/site/pack/vim-fugitive/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/space-vim-theme"]
	path = .local/share/nvim/site/pack/space-vim-theme/start/space-vim-theme
	url = https://github.com/liuchengxu/space-vim-theme.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".aegisub/automation/0x539"]
	path = .aegisub/automation/0x539
	url = https://github.com/The0x539/Aegisub-Scripts.git
[submodule ".local/share/nvim/site/pack/ale/start/ale"]
	path = .local/share/nvim/site/pack/ale/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".local/share/nvim/site/pack/vim-grammarous/start/vim-grammarous"]
	path = .local/share/nvim/site/pack/vim-grammarous/start/vim-grammarous
	url = https://github.com/rhysd/vim-grammarous.git
[submodule ".local/share/nvim/site/pack/nvim-treesitter/start/nvim-treesitter"]
	path = .local/share/nvim/site/pack/nvim-treesitter/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule ".zsh/evalcache"]
	path = .zsh/evalcache
	url = https://github.com/mroth/evalcache.git
[submodule ".local/share/nvim/site/pack/nvim-treesitter/start/playground"]
	path = .local/share/nvim/site/pack/nvim-treesitter/start/playground
	url = https://github.com/nvim-treesitter/playground.git
[submodule ".local/share/nvim/site/pack/nvim-treesitter/start/nvim-treesitter-textobjects"]
	path = .local/share/nvim/site/pack/nvim-treesitter/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
