[submodule ".aegisub/automation/0x539"]
	path = .aegisub/automation/0x539
	url = https://github.com/The0x539/Aegisub-Scripts.git
	ignore = all
[submodule ".config/mpv/submodules/uosc"]
	path = .config/mpv/submodules/uosc
	url = https://github.com/tomasklaen/uosc.git
[submodule ".config/mpv/submodules/thumbfast"]
	path = .config/mpv/submodules/thumbfast
	url = https://github.com/po5/thumbfast.git
[submodule ".config/mpv/submodules/groupwatch_sync"]
	path = .config/mpv/submodules/groupwatch_sync
	url = https://github.com/po5/groupwatch_sync.git
[submodule ".config/mpv/submodules/mpv-youtube-upnext"]
	path = .config/mpv/submodules/mpv-youtube-upnext
	url = https://github.com/cvzi/mpv-youtube-upnext.git
[submodule ".mozilla/Betterfox"]
	path = .mozilla/Betterfox
	url = https://github.com/yokoffing/Betterfox.git
[submodule ".config/mpv/submodules/mpv-quality-menu"]
	path = .config/mpv/submodules/mpv-quality-menu
	url = https://github.com/christoph-heinrich/mpv-quality-menu.git
[submodule ".local/share/fonts/dots"]
	path = .local/share/fonts/dots
	url = https://git.odrling.xyz/fonts
[submodule ".bash/fzf-tab-completion"]
	path = .bash/fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion.git
[submodule ".bash/fzf"]
	path = .bash/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".bash/bash-preexec"]
	path = .bash/bash-preexec
	url = https://github.com/rcaloras/bash-preexec.git
