# ignore everything except the gitignore file
/*
!.gitignore

# ignore cache files
cache
Cache

# ignore log files
*log

# zsh config files
!/.zshrc
!/.zprofile
!/.bash.command-not-found

# git config file
!/.gitconfig

# only add selected config files
!/.config
/.config/*

# mpv config file
!/.config/mpv
/.config/mpv/*
!/.config/mpv/mpv.conf

# compton config file
!/.config/compton.conf

# whipper config files
!/.config/whipper

# tmux config file
!/.tmux.conf

# pypirc
!/.pypirc

# vimrc
!/.vimrc

# fish config files
!/.config/fish
/.config/fish/fishd.*
!/.config/fisherman

# localbins
!/.local
!/.local/bin
/.local/share
