[user]
	email = florianbadie@odrling.xyz
	name = odrling
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
[submodule]
	fetchJobs = 4
[diff]
	mnemonicprefix = true
