# ignore everything except the gitignore file
/*

# ignore cache files
cache
Cache

# ignore log files
*log

# aliases
!/.shaliases

# bash config
!/.bashrc
!/.bash_profile
!/.bash/

# readline inputrc
!/.inputrc

# zsh config files
!/.zshrc
!/.zsh
!/.zprofile
!/.bash.command-not-found

# .profile
!/.profile

# only add selected config files
!/.config
/.config/*
!/.config/.envrc

# mpv config file
!/.config/mpv
/.config/mpv/*
!/.config/mpv/mpv.conf
!/.config/mpv/input.conf
!/.config/mpv/scripts
!/.config/mpv/script-opts
!/.config/mpv/fonts
/.config/mpv/scripts/amoethyst.lua
/.config/mpv/scripts/japan7.lua
/.config/mpv/scripts/aniupdate.lua
!/.config/mpv/shaders
!/.config/mpv/.envrc
!/.config/mpv/submodules

# picom config file
!/.config/picom.conf

# whipper config files
!/.config/whipper

# tmux config file
!/.tmux.conf
!/.tmate.conf

# pypirc
!/.pypirc

# localbins
!/.local
!/.local/bin
/.local/*

# ignore antibody
!/.antibody/plugins

# sway
!/.config/sway

# i3blocks
!/.config/i3blocks

# mako
!/.config/mako

# mpd
!/.config/mpd
/.config/mpd/*
!/.config/mpd/mpd.conf

# ncmpcpp
!/.config/ncmpcpp

# alacritty
!/.config/alacritty

# fontconfig
!/.config/fontconfig

# neofetch
!/.config/neofetch

# sxiv
!/.config/sxiv
!/.config/nsxiv

# webbookmarks example
!/.config/webbookmarks.example

# newsboat
!/.newsboat
/.newsboat/*
!/.newsboat/config

# fish
!/.config/fish

# dunst
!/.config/dunst

# aegisub
!/.aegisub
/.aegisub/*
!/.aegisub/hotkey.json
!/.aegisub/automation
*.so

# alsa
!/.alsa

# xinit
!/.xinitrc

# gtk config
!/.config/gtk-3.0
!/.gtkrc-2.0

# kitty config
!/.config/kitty

# jack
!/.config/jack

# tridactly
!/.tridactylrc

# nvim
!/.vimrc
!/.vim
!/.config/nvim
.netrwhist
/.config/nvim/bundle
/.config/nvim/lua
/.config/nvim/*/packer_compiled.lua
/.config/nvim/ftplugin/*.lua

# flake8
!/.flake8

# bottom
!/.config/bottom

# zinit
!/.local/share
/.local/share/*
/.local/share/zinit/*
!/.local/share/zinit/zinit.git

# rofi
!/.config/rofi

# starship
!/.config/starship.toml

# ncdu
!/.config/ncdu

# fd
!/.config/fd

# git config
!.gitignore
!/.config/git

# Xmodmap
!/.config/Xmodmap

# dotsbin
!/.local/dotsbin

# odrbin
!/.local/odrbin

# public key
!/.local/odrling.key

# yt-dlp
!/.config/yt-dlp

# htop
!/.config/htop

# mozilla conf
!/.mozilla
/.mozilla/*
!/.mozilla/Betterfox

# applications
#!/.local/share/applications
!/.config/mimeapps.list

# direnv
!/.direnvrc

# foot
!/.config/foot

# s6
!/.s6
/.s6/scandir
/.s6/services/*/*
!/.s6/services/*/run
!/.s6/services/*/data
!/.s6/services/*/notification-fd
!/.s6/services/*/finish

# cursor themes
!/.icons

# xdpw
!/.config/xdg-desktop-portal-wlr

# wgetpaste
!/.wgetpaste.conf

# swaylock
!/.config/swaylock

# kanshi
!/.config/kanshi

# fcitx5
!/.config/fcitx5

# fonts
!/.local/share/fonts
/.local/share/fonts/*
!/.local/share/fonts/dots

# snooze jobs
!/.snooze
