red: &red c51b36ff
green: &green 198130ff
purple: &purple 8e39c5ff
blue: &blue 4557e2ff
neutral: &neutral 6f6685ff

battery_content: &battery_content
  poll-interval: 30000
  content:
    map:
      default:
        string:
          text: &bat_text "{name} {capacity}% {estimate}"
          margin: 5
          deco:
            background:
              color: *neutral
      conditions:
        manufacturer == "":
          string:
            text: ""
        state == "charging":
          string:
            text: *bat_text
            margin: 5
            deco:
              background:
                color: *green
        capacity < 20:
          string:
            text: *bat_text
            margin: 5
            deco:
              background:
                color: *red

psi_mem_usage: &psi_mem_usage
  string:
    text: "{mem}"
    margin: 5

bar:
  height: 26
  location: top
  background: 000000ff
  font: sans:size=14
  font-shaping: none
  right-spacing: 2

  left:
    - dwl:
        number-of-tags: 9
        dwl-info-filename: "/run/user/1000/dwl_status"
        name-of-tags: ["1", "2", "3", "4", "5", "6", "7", "8", "9"]
        content:
          list:
            items:
              - map:
                  conditions:
                    # default tag
                    id == 0:
                      - string:
                          text: "{layout}"
                          margin: 10

                      - string:
                          text: "{title}"
                          font-shaping: full
                          max: 100

                    urgent:
                      string:
                        text: "{name}"
                        margin: 10
                        foreground: 000000ff
                        deco:
                          background:
                            color: ffffffff
                    selected:
                      string:
                        text: "{name}"
                        margin: 10
                        deco:
                          background:
                            color: *purple
                    "~empty":
                      string:
                        text: "{name}"
                        margin: 10

  right:
    - script:
        path: /usr/bin/odrsysinfo
        args: ["--yambar"]
        content:
          - map:
              default:
                string:
                  text: &psi_cpu_text "cpu {psi_cpu_avg10}%"
                  margin: 5
              conditions:
                psi_cpu_avg10 > 10:
                  string:
                    text: *psi_cpu_text
                    margin: 5
                    deco:
                      background:
                        color: *red
          - map:
              default:
                string:
                  text: &psi_io_text "io {psi_io_full_avg10}%"
                  margin: 5
              conditions:
                psi_io_full_avg10 > 1:
                  string:
                    text: *psi_io_text
                    margin: 5
                    deco:
                      background:
                        color: *red
          - map:
              default:
                - string:
                    text: &psi_mem_text "mem {psi_mem_full_avg10}%"
                    margin: 5
                - <<: *psi_mem_usage
              conditions:
                psi_mem_full_avg10 > 1:
                  - string:
                      text: *psi_mem_text
                      margin: 5
                      deco:
                        background:
                          color: *red
                  - <<: *psi_mem_usage

    - network:
        poll-interval: 10000
        right-spacing: 2
        content:
          map:
            conditions:
              state == "up":
                string:
                  text: &iftext "{name} ({ipv4})"
                  margin: 5
                  deco:
                    background:
                      color: *blue
              carrier && ipv4 != "127.0.0.1" && ipv4 == "":
                string:
                  text: "{name}"
                  margin: 5
                  deco:
                    background:
                      color: *neutral
              state != "up" && carrier && ipv4 != "127.0.0.1":
                string:
                  text: *iftext
                  margin: 5
                  deco:
                    background:
                      color: *neutral

    - battery:
        name: BAT0
        <<: *battery_content

    - battery:
        name: BAT1
        <<: *battery_content

    - clock:
        time-format: "%H:%M:%S"
        date-format: "%F"
        content:
          - string:
              text: "{date} {time}"
              margin: 5
