amiami https://www.amiami.com/
amq https://animemusicquiz.com/
anichart https://anichart.net
anilist https://anilist.co
bde https://www.bde.enseeiht.fr/
ddg https://duckduckgo.com/?q={}
git https://git.odrling.xyz
github https://github.com
regex101 https://regex101.com/
syncthing http://127.0.0.1:8384
youtube https://youtube.com
